@using Microsoft.AspNetCore.Identity
@using DPMGallery.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

	<div class="flex items-center ml-auto text-base md:text-sm px-4 py-4 md:py-0 border-t border-secondary md:border-none justify-around">
		@if (SignInManager.IsSignedIn(User))
		{
			<a class="py-2 px-3 block font-bold hover:text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage Account">[@User.Identity.Name]</a>
			<form class="py-2 px-3 ml-2 block hover:text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="">Sign Out</button>
			</form>
		}
		else
		{
			<a class="py-2 px-3 block hover:text-white" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
			<a class="py-2 px-3 ml-2 block hover:text-white bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 transition duration-300 rounded" asp-area="Identity" asp-page="/Account/Register">Register</a>
		}
	</div>
