@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Forgot password confirmation";
}

<div class="w-full">
	<div class="container">
		<div class="flex flex-col overflow-hidden bg-white max md:flex-row md:flex-1 lg:max-w-screen-md mt-2">
			<div class="p-5 bg-white md:flex-1">
				<h3 class="my-4 text-2xl font-semibold text-gray-700">@ViewData["Title"]</h3>
				<p>
					Please check your email to reset your password.
				</p>
			</div>
		</div>
	</div>
</div>