@page
@model ForgotPasswordModel

<div class="w-full">
	<div class="container">
		<div class="flex flex-col overflow-hidden bg-white max md:flex-row md:flex-1 lg:max-w-screen-md mt-2">
			<div class="p-4 py-6 text-white bg-primary md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly">
				<div class="my-3 text-4xl font-bold tracking-wider text-center">
					<a href="#">DPM</a>
				</div>
				<p class="mt-6 font-normal text-center text-gray-300 md:mt-0">
					Forgot your password? A password reset email will be sent from noreply@delphipm.org - if you haven't received it within a few minutes, check your spam folder.
				</p>
			</div>
			<div class="p-5 bg-white md:flex-1">
				<h3 class="my-4 text-2xl font-semibold text-gray-700">Forgot my password!</h3>
				<form id="account" method="post" class="flex flex-col space-y-5">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="flex flex-col space-y-1">
						<label asp-for="Input.Email" class="text-sm font-semibold text-gray-500">Email address</label>
						<input type="text"
							   asp-for="Input.Email"
							   autofocus
							   class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div>
						<button type="submit"
								class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
							Send
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
