@page
@model ResetPasswordConfirmationModel



<div class="w-full">
	<div class="container">
		<div class="flex flex-col overflow-hidden bg-white max md:flex-row md:flex-1 lg:max-w-screen-md mt-2">
			<div class="p-5 bg-white md:flex-1">
				<h3 class="my-4 text-2xl font-semibold text-gray-700">Your password has been reset..</h3>
				 Please <a asp-page="./Login">click here to log in</a>.
			</div>
		</div>
	</div>
</div>
