
<div class="w-full bg-white pt-2">
	<div class="container text-gray-900">
		<h1 class="text-3xl pb-2">About DPM</h1>
		<p>DPM is an open-source package/library manager for Delphi XE2 or later. </p>
		<br/>
		<p>DPM provides a standard way for developers to share and consume code. Authors create packages that other developers can consume. 
			The package manager provides a simple way to automate the installation, upgrading or removal of packages. This streamlines the development process, 
			allowing developers to get up and running on a project quickly, without needing to understand the (usually ad-hoc) way the project or organization 
			has structured their third party libraries. This also translates into simpler build/CI processes, with less ‘compiles on my machine’ style issues.</p>

	</div>
</div>
