<div class="w-fullpt-2">
	<div class="container text-base text-gray-600 dark:text-gray-300 pb-2">
		<h1>DPM Privacy Policy</h1>
		<p>Use this page to detail your site's privacy policy.</p>
	</div>
</div>

