
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w-full">
	<div class="container text-base text-gray-600 dark:text-gray-300 pb-2">
    <h1>Downloads</h1>
        <p>We will have links to the installer downloads etc here</p>	
    </div>
</div>
