@{
	ViewData["Title"] = "Home Page";
	ViewBag.Query = "";
}

@section SearchBar {
	<div class="w-full bg-primary">
		<div class="container text-white">
			<div class="flex flex-col justify-center items-center py-3 ">
				<h1 class="text-2xl md:text-4xl p-2">DPM</h1>
				<h2 class="text-xl md:text-2xl p-2">A Package Manager for Delphi</h2>
				
			</div>
			<partial name="_Search2" />
		</div>
	</div>
}


