@{
	ViewData["Title"] = "Home Page";
	ViewBag.Query = "";
}

@section SearchBar {
	<div class="w-full bg-primary">
		<div class="container text-white pb-2">
			<div class="flex flex-col justify-center items-center py-1 ">
				<h1 class="text-2xl md:text-3xl">DPM</h1>
				<h2 class="text-base md:text-xl ">A Package Manager for Delphi</h2>
			</div>
			<partial name="_Search2" />
		</div>
	</div>
}
<div class="w-full">
	<div class="container text-base text-gray-600 dark:text-gray-300 pb-2">
		<h1>Coming Soon</h1>
		<p>We're working hard to get this service going - this is here only for testing for now.</p>
	</div>
</div>

