@{
	ViewData["Title"] = "Home Page";
}

<div class="w-full bg-primary">
	<div class="container text-white">
		<div class="flex justify-center items-center py-3">
			<h1 class="text-2xl md:text-4xl">Manage Delphi Dependencies with DPM</h1>
		</div>
		<partial name="_Search" />
	</div>
</div>
