:root {
    --color-primary: #12202F; /*/ #1b6ec2;*/
    --color-secondary: #35404d;
    /* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.container {
    @apply max-w-7xl mx-auto px-2;
}

body h1, body h2, body h3, body p {
    @apply mb-2;
}

h1 {
    @apply text-3xl pb-2;
}

.footer-link {
    @apply hover:text-blue-400;
    @apply pt-1;
}

.Google-btn {
    background-color: #DB4437;
    color: white;
}

.GitHub-btn {
    background-color: black;
    color: white;
}

.Microsoft-btn {
    background-color: #0067B8;
    color: white
}

.Twitter-btn {
    background-color: #08a0e9;
    color: white
}

.Facebook-btn {
    background-color: #4267B2;
    color: white;
}

select {
    @apply py-1;
    @apply pl-2;
}

.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
    content: attr(data-tooltip); /* here's the magic */
    position: absolute;
    /* vertically center */
    top: 50%;
    /* /transform: translateY(-50%);
    /* move to right */
    top: 100%;
    left : 100%
    @apply ml-1;
    /* basic styles */
    width: 200px;
    @apply p-1;
    @apply rounded-sm;
    @apply bg-gray-400;
    text-align: center;
    display: none; /* hide by default */
}

.tooltip:hover:before {
    display: block;
}

.package-img {
    width:64px;
    height : 64px;
}
