@tailwind base;
@tailwind components;
@tailwind utilities;
/* */
@layer base {
  /*shadcn-ui */
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 207.087 100% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --create: 142.128 76% 36%;
    --create-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; 
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 207.2 100% 29%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 54%;
    --destructive-foreground: 210 40% 98%;
    --create: 142.128 76% 36%;
    --create-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
  :root {
    --brand: #0071ce;
  }
  .dark {
    --brand: #005296;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    min-height: 100vh;

    @apply bg-background text-foreground;
  }
  .input-default {
    @apply p-2.5 border border-gray-300 text-gray-900 sm:text-sm rounded outline-none focus:ring-blue-500 focus:border-blue-500 block  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  input[type="text"] {
    @apply input-default;
  }
  input.searchBar {
    @apply p-2.5 border border-gray-300 text-gray-900 dark:text-gray-900 sm:text-sm rounded outline-none focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  input[type="password"] {
    @apply input-default;
  }
  input[type="email"] {
    @apply input-default;
  }
}

@layer components {
  .sidebar {
    @apply px-2 py-2 bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-white/80;
  }

  .sidebar li > a {
    @apply block clear-both px-3 py-2 whitespace-nowrap rounded-md;
  }

  .sidebar li > a.active {
    @apply block clear-both px-3 py-2 whitespace-nowrap rounded-md bg-gray-300 dark:bg-brand dark:text-white;
  }

  .sidebar li > a:hover,
  .sidebar .link:hover {
    @apply bg-gray-300 dark:bg-brand dark:text-white;
  }

  .dropdown {
    @apply relative inline-block;
  }

  .dropdown-content {
    @apply hidden absolute rounded-md  border-gray-600  p-3 right-0 max-w-lg dark:shadow-none z-10 text-left shadow w-64 bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 list-none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content li {
    @apply px-2 py-1 rounded-sm cursor-pointer;
  }

  .dropdown-content .divider {
    @apply h-[1px] m-0 p-0 mt-1 mb-1 rounded-none overflow-hidden bg-gray-400 dark:bg-gray-700;
  }

  .dropdown-content .dropdown-header {
    @apply cursor-default;
  }

  .dropdown-content li > a,
  .dropdown-content .link {
    @apply block clear-both px-2 py-1 whitespace-nowrap;
  }

  .dropdown-content li > a:hover,
  .dropdown-content .link:hover {
    @apply bg-gray-300 dark:bg-gray-700 dark:text-white;
  }

  .remark {
    @apply text-gray-900 dark:text-gray-200;
  }

  .remark p {
    @apply my-2;
  }
  .remark h1 {
    @apply text-xl font-medium py-2;
  }
  .remark h2 {
    @apply text-lg py-2;
  }

  .remark ul {
    @apply ml-3;
  }

  .remark li {
    @apply ml-2 list-disc;
  }
}

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Used by the Modal dialog component */

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}
